<a class="btn btn-danger my-2" [routerLink]="['/perfil']">
    <i class="fas fa-backward"></i> Perfil
</a>

<div class="col-md-12" *ngIf="cliente_funcion">
    <div class="card text-center">
        <form>
            <h2> <label for="exampleInputEmail1">Productos que han sido Creados por mi</label></h2>
        </form>
        <div class="form-group">
            <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
        </div>


    </div>
</div>

<br>


<div class="alert alert-success" role="alert" *ngIf="isExito">
       Curso Desasignado
    </div>


<div class="col-md-4" *ngFor="let pro of productos | filter:filterPost">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
               
            <h3>   <i class="fas fa-id-card-alt"></i>  {{pro.producto}}</h3>


        </div>
        <img [src]="API_URI + pro.foto" class="bd-placeholder-img card-img-top" width="100%" height="225"focusable="false" role="img">

        <div class="card-body">
           
                <p>Estado  : {{pro.estado}} 
                <br>  Precio de Producto :  {{pro.precio}}   
                <br> Categoria:  {{pro.categoria}}
                <br>Propietario :  {{pro.nombre}}  {{pro.apellido}}
                <br>Detalle :  {{pro.detalle}}
                <br>Palabras clave :  {{pro.palabras}}
                </p>
            
            <a class="btn btn-info btn-block" [routerLink]="['productos/modificar', pro.id_producto]">
                <i class="fas fa-pen"></i> Editar Producto
            </a>
            <a class="btn btn-success btn-block" [routerLink]="['/detalle', pro.id_producto]">
                <i class="fas fa-pen"></i> Detalle
            </a>
          
        </div>

    </div>
    <br>
    <br>
    <br>
</div>