

    <section class="jumbotron text-center">
        <div class="col-md-10">

          <a class="btn btn-info my-2" (click)='refrescar()'>
            <i class="fas fa-sync-alt"></i>
        </a>

          <h1>Productos Disponibles</h1>
          <p class="lead text-muted">El Marketplace se refiere a un concepto más amplio de ventas online. En esta plataforma, diferentes tiendas pueden anunciar sus productos, ofreciéndole de esa forma, un abanico de opciones al cliente.
            El concepto de Marketplace no es nuevo. En América Latina surgió en 2012 y, hoy en día, muchas grandes empresas digitales ya se han adherido. Algunos ejemplos de Marketplace son Amazon, Google Shopping y Mercado Libre.
          </p>
          <p>
            <a class="btn btn-primary my-2" [routerLink]="['/carrito', id_usuario_logueado]">
              <i class="fas fa-cart-arrow-down"></i> Carrito
            </a>
            <a class="btn btn-outline-danger my-2" (click)='productosOrdenAscendente()'>   <i class="fas fa-sort-amount-up"></i> Categoria  </a>
        <a class="btn btn-outline-dark my-2" (click)='productosOrdenDescendente()'>    <i class="fas fa-sort-amount-down"></i> Categoria     </a>
     
        <a class="btn btn-outline-warning my-2" (click)='productosOrdenAscendentePrecio()' >   <i class="fas fa-sort-amount-up"></i> Precio  </a>
        <a class="btn btn-outline-secondary my-2" (click)='productosOrdenDescendentePrecio()' >    <i class="fas fa-sort-amount-down"></i> Precio    </a>
                

          </p>
          <div class="form-group">
            <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
          </div>
        </div>
      </section>
    
    
     
    




        <div     class="col-md-4"*ngFor="let pro of productos | filter:filterPost" >
            <div class="card mb-4 shadow-sm" >


        
           <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center" >
            <h3>{{pro.producto}}</h3>
            <h3 *ngIf="esCategoria" class="text-primary">{{pro.categoria}}</h3>
           <h3 *ngIf="esPrecio" class="text-primary">{{pro.precio}}</h3>
       
           </div>
           <img [src]="API_URI + pro.foto" class="bd-placeholder-img card-img-top" width="100%" height="225"focusable="false" role="img">
           <div class="card-body">
            <p>Estado  : {{pro.estado}} 
            <br>Precio de Producto :  {{pro.precio}}   
            <br> Categoria:  {{pro.categoria}}
            <br>Propietario :  {{pro.nombre}}  {{pro.apellido}}
            <br>Detalle :  {{pro.detalle}}
            <br>Palabras clave :  {{pro.palabras}}
            </p>
            
            <a class="btn btn-info btn-block" *ngIf="oculto" [routerLink]="['productos/modificar', pro.id_producto]">
                <i class="fas fa-pen"></i> Editar Producto Funcion Admin
            </a>
            <a class="btn btn-success my-2" [routerLink]="['/detalle', pro.id_producto]">
                <i class="fas fa-pen"></i> Detalle
            </a>
            <a class="btn btn-primary my-2" (click)="agregarCarrito(pro.id_producto)">
              <i class="fas fa-cart-plus"></i> Agregar a Carrito
            </a>
            <h2 class="text-warning">Q. {{pro.precio}} </h2> 
          </div>
           

        </div>




    <br>
    <br>
    <br>
</div>





<div class="col-md-4"*ngFor="let pro of TodosLosproductos | filter:filterPost" >
  <div class="card mb-4 shadow-sm" *ngIf="admin_funcion" >



<div class="card-header bg-success  text-white d-flex justify-content-between align-items-center">
<h3>{{pro.producto}}</h3>

  <button class="btn btn-outline-warning" (click)="cambiar(pro.id_producto,pro.correo)"  >  Bloquear</button>
  <button class="btn btn-outline-danger" (click)="cambiarBloqueo(pro.id_producto)"  >  Desbloquear</button>



</div>
 <img [src]="API_URI + pro.foto" class="bd-placeholder-img card-img-top" width="100%" height="225"focusable="false" role="img">
 <div class="card-body">
  <p>Estado  : {{pro.estado}} 
    <br>  Precio de Producto :  {{pro.precio}}   
    <br> Categoria:  {{pro.categoria}}
    <br>Propietario :  {{pro.nombre}}  {{pro.apellido}}
    <br>Detalle :  {{pro.detalle}}
    <br>Palabras clave :  {{pro.palabras}}
    </p>

  <a class="btn btn-outline-danger" *ngIf="oculto" [routerLink]="['productos/modificar', pro.id_producto]">
      <i class="fas fa-pen"></i> Editar Producto Funcion Admin
  </a>
  <a class="btn btn-outline-danger my-2" [routerLink]="['/detalle', pro.id_producto]">
      <i class="fas fa-pen"></i> Detalle
  </a>
  <a class="btn btn-outline-danger my-2" >
    <i class="fas fa-cart-plus"></i> Agregar a Carrito
  </a>
  </div>

</div>


